<%= form_with(model: attachmennt, local: true) do |form| %>
  <% if attachmennt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attachmennt.errors.count, "error") %> prohibited this attachmennt from being saved:</h2>

      <ul>
      <% attachmennt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
