<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @attachmennt.type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @attachmennt.url %>
</p>

<%= link_to 'Edit', edit_attachmennt_path(@attachmennt) %> |
<%= link_to 'Back', attachmennts_path %>
