<!DOCTYPE html>
<html>
  <head>
    <title>NetStory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
      
  <%= render 'menubar' %>

<%= yield %>
=======
    <%= link_to 'Articles', root_path %>
    <%= link_to 'Attachmennts', attachmennts_path %>
    <%= link_to 'Spam', spams_path %>
    <%= yield %>
>>>>>>> 3d92c1f177f75a5ffb1b35acf30d6a0723f8af89
  </body>
</html>
